@import "variables";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.scss";
@import "./layout/sidebar";
@import "./layout/container";

.blog-card {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
.blog-card:hover {
  transform: scale(1.05);
}

.modal-backdrop.show {
  opacity: 0.8 !important;
  background-color: #000 !important;
}