/* src/index.css */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-gradient {
  background: #1f2122; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fff,#7d7f7f, #68696a, #525455, #3d3e3f, #232526); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fff,#7d7f7f, #68696a, #525455, #3d3e3f, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
  max-height: 40px; /* 根据需要调整高度 */
  width: auto; /* 自动调整宽度 */
}

.dropdown-header-custom img {
  width: 50px; /* 设定你想要的宽度 */
  height: auto; /* 自动调整高度，保持比例 */
}